@model RailwayTicketBooking.Models.LoginViewModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "log_form"}))
{
    @Html.LabelFor(Model => Model.Login, new { @class = "editor-label" })
    @Html.TextBoxFor(Model => Model.Login, new { @class = "editor-field" })
    @Html.LabelFor(Model => Model.Password, new { @class = "editor-label" })
    @Html.PasswordFor(Model => Model.Password, new { @class = "editor-field" })
    <button type="submit">Войти</button>
}