@{
    ViewBag.Title = "Бронирование железнодорожных билетов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Здравствуйте, уважаемые посетители!
</h2>
<p>
    Мы предоставляем услуги по онлайн-бронированию железнодорожных билетов
</p>
<p>
    Здесь вы можете быстро и выгодно забронировать или купить билет на поезд.
</p>
<p>
    При бронировании и покупке билетов вы можете выбирать удобный для вас по времени, стоимости и комфорту поезд, выбрать вагон,
    посадочные места, выбрать услуги включаемые в билет (постельное, чай, багаж, и т.д).
    Есть возможность получить льготные скидки при предоставлении номера документа.
    Также вы можете осуществлять поиск маршрутов с пересадками.
</p>
<p>
    Покупайте у нас билет, и счастливого пути!
</p>