@model RailwayTicketBooking.Models.LoggedUser

@if (1 == 1)
{
    using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @id = "login" }))
    {
        @Html.TextBoxFor(Model => Model.Login, new { @id = "tb_login" })
        @Html.TextBoxFor(Model => Model.Password, new { @id = "tb_password" })
        <button type="submit">Войти</button>
    }
}
else
{
    @Html.Label(Model.Login)
}