@model RailwayTicketBooking.Models.LoggedUser

Здравствуйте, 
<br/>@Html.ActionLink(Model.Name + " " + Model.Surname, "Edit", "User", new { id = Model.Id}, null)!
@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @id = "log_form" }))
{
    <button type="submit">Выйти</button>
}