@model RailwayTicketBooking.Models.LoggedUser

Здравствуйте @Html.Label(Model.Login)!
@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @id = "log_form" }))
{
    <button type="submit">Выйти</button>
}