body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #e5f6f3;
    margin: 0px;
}

#page {
    background-color: white;
    width: 900px;
    height: 100%;
    margin: 0 auto;
}

header, footer, nav, section {
    display: block;
}

hr {
    color: #287135;
    border-style:dotted;
}

.ui-datepicker-calendar a {
    display: block;
    text-align:center;
    text-decoration:none;
}

a
{
    color: #206697;
}

tr {
    height: 30px;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
    width: 100%;
}

button {
    background-color: #5194c1;
    border: medium none;
    color: white;
    font-family: Calibri;
    font-size: 12pt;
    font-weight: bold;
    height: 30px;
    margin: 10px auto 5px;
    width: 140px;
}

button:hover {
    background-color: #206697;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*Styles for header elements*/

header {
    background: #71CD90 url("/Content/Images/Tickets.png") no-repeat right top;
    height: 150px;
    width: 900px;
}

#logo{
    background: url("/Content/Images/Logo.png") no-repeat;
    height: 140px;
    width: 255px;
    float: left;
    margin: 5px 10px;
}

/* Styles of navigation*/

#menu {
    height: 40px;
    width: 900px;
    margin-top: 5px;
    padding-left: 1px;
}

#admin_menu a
{
    color: #390b0b;
    font-size: 12pt;
}

#admin_menu a:hover
{
    color: #b02222;
}

.link_button {
    background: #5194c1;
    height: 40px;
    margin-right: 2px;
    width: 178px;
    text-align: center;
    line-height: 35px;
    float: left;
    font-family: Calibri;
    font-size: 16pt;
    font-weight: bold;
    color: white;
}

.link_button:hover {
    background: #206697;
}

/*Left side styles*/
#left_side {
    border-right: dotted #287135 thin;
    width: 179px;
    height: 100%;
    float: left;
}

#whether {
    width: 150px;
    height: auto;
    margin: 10px auto 0px;
}
.date_time {
    background: #5194c1;
    margin: 10px auto 0px;
    width: auto;
    height: auto;
    text-align:center;
    font-family: Tahoma;
    font-size: 14pt;
    color:white;
}

#user_card {
    width: 139px;
    padding: 5px 20px;
    background-color: #71CD90;
}

#log_form a
{
    text-decoration: none;
    text-align:left;
}

/*Content styles*/
#content {
    background-color: white;
    margin-top: 5px;
    width: 100%;
    float: left;
}

/*Main side style*/

#main_side {
    padding: 0px 10px;
    width: 700px;
    height: 100%;
    float: left;
}

.data_table {
    font-family: Calibri;
    font-size: 13pt;
    font-weight: 500;
    background-color: #a4eabc;
    width: 100%;
}

.data_table td {
    border: 1px solid white;
    text-align: left;
    vertical-align: middle;
    padding-left: 10px;
}
.table_header {
    color: white;
    background-color: #71CD90;
    border: double medium #206697;
}
.info_table {
    font-family: Calibri;
    color: #333;
    font-size: 13pt;
    font-weight: 500;
    background-color: #e5f6f3;
    width: 100%;
    margin-bottom: 10px;
}

.info_table td {
    border: 1px solid #333;
    text-align: left;
    vertical-align: middle;
    padding-left: 10px;
}

.info_header
{
    color: #333;
    background-color: #8ab4d0;
    border: double medium #206697;
}

.place_number
{
    border: #333 solid thin;
    width: 50px;
    padding: 0 5px;
    margin: 5px;
    float: left;
}

/*Text styles*/

h1 {
    line-height: 35px;
    text-shadow: 0.1em 0.1em 0.2em #333;
    font-family: 'Bookman Old Style';
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    width: 200px;
    float: left;
}

h2 {
    color: #392f2f;
    font-family: Calibri;
    font-size:16pt;
    margin-left: 20px;
}

h3
{
    font-family: Calibri;
    font-size: 16pt;
    font-weight:100;
    padding: 0px 10px;
    margin: 0;
}